/* Form styles */

ul.dnnAdminTabNav {
    height: auto;
    border-radius: 0 !important;
    li.ui-tabs-active a {
        margin-top: -4px;
    }
}

ul.dnnAdminTabNav li a {
	font-size: 80%;
}

ul.dnnActions {
    display: inline-block; // for the Edit Profile and My Account links in User Profiles
    padding-left: 0;
}

.dnnFormItem .dnnGrid {
    font-size: $bs-font-size-small;
}

// sync SELECT style with other DNN form controls
.dnnFormItem select {
    max-width: 445px !important;
    width: 45%;
}

// override for dnnLabels in the bootstrap
.form-group .dnnLabel {
    text-align: left;
    width: auto;
}

.dnnLabel + span {
    white-space: normal;
}

a.dnnFormHelp {
    top: 4px;
}

/* URL selectors styles */

.dnnFileUploadScope .dnnFormItem span,
.urlControlTab .dnnFormItem > span {
    width: 50px;
    font-size: $bs-font-size-small;
}

.dnnFileUploadScope .selected-value {
    font-size: $bs-font-size-small;
}

.urlControlLinkType span,
.dnnFormItem .urlControlLinkType span {
    font-size: $bs-font-size-small;
}

.dnnFormItem .dnnDropDownList .dt-container {
    // make URL selectors dropdown wider
    min-width: 320px;
}

// fix colored background on DNN radiobuttons
.dnnRadiobutton .mark { background-color:transparent; }

/* ADMIN */
#ControlBar,
#ControlBar:before,
#ControlBar:after,
#ControlBar *:before,
#ControlBar *:after,
#ControlBar li,
#ControlBar li:before,
#ControlBar li:after,
#ControlBar a,
#ControlBar a:before,
#ControlBar a:after,
.dnn_mact,
.dnn_mact:before,
.dnn_mact:after,
.dnn_mact *:before,
.dnn_mact *:after,
.dnn_mact li,
.dnn_mact li:before,
.dnn_mact li:after {
    -webkit-box-sizing: content-box !important;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box !important;
    /* Firefox, other Gecko */
    box-sizing: content-box !important;
    /* Opera/IE 8+ */
}

// box-sizing fix for some DNN core modules
.ModDotNetNukeModulesDigitalAssetsC *,
.ModDotNetNukeModulesCoreMessagingC *,
.ModDotNetNukeModulesMemberDirectoryC *,
.ModViewProfileC *,
.ModSearchResultsC *,
.ModConsoleC * {
    box-sizing: unset;
}

// Bootstrap embed-responsive extensions
.embed-responsive-5by4 { padding-bottom:78.75%; }
// fix for DNN action menu icons with Font Awesome 5
.fa-pencil::before { content: "\f303"; }
.fa-arrows::before { content: "\f0b2"; }

/* fix for coloring on DNN Check boxes */
.dnnCheckbox .mark { background:none; }

.dnnSortable {
    // use .col value instead
    &.ui-sortable { padding: 0 15px; }
}

.DNNEmptyPane {
	display: none;
}

.dnnSortable.DNNEmptyPane,
.paneOutline {
    outline: 1px dashed #ccc;
}

// panes look in layout mode
.paneOutline {
    margin: 5px 0;
    .SubHead {
        color: #666;
    }
    &:hover {
        background-color: #eee;
    }
    .DnnModule {
        margin-bottom: 15px;
        .cnt {
            min-height: 22px;
        }
        .cnt-default, .cnt-blank {
            border: 1px dashed #ccc;
        }
    }
    .cnt {
        margin-bottom: 0;
        padding-left: 5px;
    }
}

.skin-footer .paneOutline {
    .SubHead {
        color: #fff;
    }
    &:hover {
        .SubHead {
            color: #666;
        }
    }
}



// fix .sticky-top then controlbar is visible
.showControlBar .sticky-top {
    top: 53px !important
}

// fix controlbar z-index
body > form #ControlBar_ControlPanel {
    z-index: 1030 !important;
}

// remove DNN settings form top/bottom margin
.dnnModuleSettings {
    margin-top: 0;
    margin-bottom: 0;
}

/* Actions */

div.actionMenu ul.dnn_mact {
    padding-left: 22px;
}

.dnnEditState div.actionMenu ul.dnn_mact {
    padding-left: 0;
}

// increase DNN QuickSettings form padding
div.actionMenu ul.dnn_mact li.actionQuickSettings ul {
    padding: 0.5rem;
}

// fix position of custom content markers
.skin-custom-content div.actionMenu {
    margin-right: 0.25rem;
    ul.dnn_mact li {
        float: none;
    }
}

/* Audit control styles */

.dnnModuleAuditControl {
    color: $bs-color-muted;
    font-size: $bs-font-size-small;
    width: auto;
    max-width: none;
    p {
        display: inline-block;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.dnnModuleSettings div.dnnmsStat {
    border: none;
    padding: 0;
    .dnnModuleAuditControl {
        width: auto;
        max-width: none;
        p {
            padding-right: 0;
        }
    }
}

.dnnFormItem {
    .dnnModuleAuditControl {
        width: 45%;
        max-width: 445px;
    }
}
