/* Additional display headers */

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/* Centered headers */

.centerline {
    border-bottom: 1px solid $bs-color-text-body;
    text-align: center;
    margin-bottom: 3rem;
}

.centerline > .centerline-header {
    position: relative;
    top: 0.55em;
    display: inline-block;
    margin: 0px auto;
    padding-right: 3rem;
    padding-left: 3rem;
    background-color: #fff;
}

/* Short lists */

.sl-collapsed > a {
    color: $bs-color-muted;
}

li.sl-collapsed {
    list-style: none;
}

/* News article */

.news-article blockquote:not(.blockquote) {
    border-left: 4px solid #ccc;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.15rem; // slightly less that 1.25rem as for BS ".blockquote"
    background-image: linear-gradient(to right, rgba(238,238,238,1.0) 0%, rgba(238,238,238,0.0) 100%);
}
