/* Variables */

// font size
@font-size:16px;
@bigger-font-size:(@font-size + 2px);
@big-font-size:(@font-size + 4px);
@menu-font-size:@font-size;
@smaller-menu-font-size: (@menu-font-size - 2px);

// border radius
@borderRadius: 4px;

// icons
@social-icons:url('../images/social_mono_32x32.png');
@founder-icon-1:url('../images/founder1_48x48.png');
@founder-icon-2:url('../images/founder2_48x48.png');

// secondary, local and headers menu color adaptors
@secondary-menu-base-color-1:@color-secondary-1-1;
@secondary-menu-base-color-2:@color-secondary-1-2;
@secondary-menu-base-color-3:@color-secondary-1-3;
@secondary-menu-base-color-4:@color-secondary-1-4;
@secondary-menu-highlight-color-1:@color-secondary-2-1;
@secondary-menu-highlight-color-2:@color-secondary-2-2;
@secondary-menu-highlight-color-3:@color-secondary-2-3;
@secondary-menu-highlight-color-4:@color-secondary-2-4;

// header and footer
@logo-title-text-shadow:none;
@logo-title-motto-shadow:none;
@header-background-image:linear-gradient(to bottom, @color-primary-4 0%, @color-primary-4 (@font-size * 2 + 1px), @color-primary-3 (@font-size * 2 + 1px),  @color-primary-2 100%);
@header-background-color:average(@color-primary-3, @color-complement-2);
@footer-line-background-color:@color-complement-4;
@footer-main-background-image:linear-gradient(to bottom, @color-secondary-1-2 0%, @color-secondary-1-3 100%);
@footer-main-background-color:average(@color-secondary-1-2, @color-secondary-1-3);
@footer-last-background-color:@color-secondary-1-4;

// float buttons
@float-button-opacity:0.75;
@float-button-opacity-hover:1;