/* consulting.volgau.com palette */

// http://paletton.com/#uid=c3M3j4f2n0kllllaFw0g0qFqFg0w0aF
// blue, green, lime, magenta

@color-primary-0: #2A4F6E;  /* Main Primary color */
@color-primary-1: #718DA5;
@color-primary-2: #496C89;
@color-primary-3: #123552;
@color-primary-4: #042037;

@color-secondary-1-0: #353377;  /* Main Secondary color (1) */
@color-secondary-1-1: #8180B2;
@color-secondary-1-2: #565595;
@color-secondary-1-3: #1B1A59;
@color-secondary-1-4: #0A093B;

@color-secondary-2-0: #90A437;  /* Main Secondary color (2) */
@color-secondary-2-1: #E7F6A4;
@color-secondary-2-2: #BACD66;
@color-secondary-2-3: #687B14;
@color-secondary-2-4: #435200;

@color-complement-0: #277455;   /* Main Complement color */
@color-complement-1: #74AE96;
@color-complement-2: #489173;
@color-complement-3: #0E573A;
@color-complement-4: #003A23;