/* Variables */

@menuFontSize: 14px;
@smallerMenuFontSize: (@menuFontSize - 2px);
@borderRadius: 4px;
@social-icons:url('../images/social_32x32.png');
@founder-icon-1:url('../images/minobr_48x48.png');
@founder-icon-2:url('../images/mcx_48x48.png'); 