/* Variables */

@menuFontSize: 14px;
@smallerMenuFontSize: (@menuFontSize - 2px);
@borderRadius: 4px;
@social-icons:url('../images/social_32x32.png');
@founder-icon-1:url('../images/minobr_48x48.png');
@founder-icon-2:url('../images/mcx_48x48.png'); 
@logo-title-text-shadow:0 0 5px @color-complement-2;
@logo-title-motto-shadow:0 0 1px @color-complement-2;