<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Portal" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <Portal>
        <add key="FooterButtonsGroupName" value="FooterButtons" />
        <add key="FeedbackTabId" value="100" />
    </Portal>
</configuration>
