# User-specific
/.vs/
*.user
*.userprefs
*.usertasks

# Build output
bin/
obj/
/Deploy/output/

# Less/UglifyJS build output

R7.Epsilon/Skins/css/*.css
R7.Epsilon/Skins/js/*.min.js

# Downloaded NuGet packages
/packages/
/Packages/
/node_modules/

# Various
yarn-error.log
