# User-specific
*.userprefs
*.usertasks

# Build output
bin/
obj/
/Packaging/output/

# Less/UglifyJS build output

R7.Epsilon/Skins/css/*.css
R7.Epsilon/Skins/js/*.min.js

# Packages
/packages/
/Packages/
/node_modules/

