<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Portal" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <Portal>
        <add key="SkinCss" value="css/default-skin.min.css" />
        <add key="SkinA11yCss" value="css/a11y-skin.min.css" />
        <add key="FooterButtonsGroupName" value="NavMenu1" />
        <add key="FeedbackTabId" value="2659" />
        <add key="VkShareEnabled" value="true" />
        <add key="VkApiId" value="4754730" />
        <add key="VkGroup" value="volgau_com" />
        <add key="FacebookGroup" value="volgau" />
        <add key="TwitterGroup" value="volgau_com" />
        <add key="TwitterVia" value="volgau_com" />
        <add key="OkGroup" value="51992191172689" />
        <add key="GoogleGroup" value="102055464309901341034/communities/113661705633931940712" />
        <add key="YoutubeGroup" value="UCYPMmQknVPxosuY4iPCfVDg" />
    </Portal>
</configuration>