<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Portal" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <Portal>
        <add key="SkinCss" value="css/default-skin.min.css" />
        <add key="SkinA11yCss" value="css/a11y-skin.min.css" />
        <add key="FooterButtonsGroupName" value="FooterButtons" />
        <add key="FeedbackTabId" value="100" />
        <add key="PrimaryMenuNodeSelector" value="*,0,2" />
        <add key="PrimaryMenuIncludeNodes" value="" />
        <add key="SecondaryMenuNodeSelector" value="*,0,2" />
        <add key="SecondaryMenuIncludeNodes" value="" />
        <add key="VkShareEnabled" value="false" />
        <add key="VkApiId" value="your-vk-api-id" />
        <add key="VkGroup" value="your-vk-group" />
        <add key="FacebookGroup" value="your-facebook-group" />
        <add key="TwitterGroup" value="your-twitter-group" />
        <add key="TwitterVia" value="your-twitter-via" />
        <add key="OkGroup" value="your-ok-group" />
        <add key="GoogleGroup" value="your-google-plus-group" />
        <add key="YoutubeGroup" value="your-youtube-group" />
        <add key="AdsenseClient" value="ca-pub-0000000000000000" />
        <add key="AdsenseSlot" value="0000000000" />
        <add key="ShowTerms" value="true" />
        <add key="ShowPrivacy" value="true" />
    </Portal>
</configuration>
