/* Palette */

// http://paletton.com/#uid=5340k0kllllaFw0g0qFqFg0w0aF

@color-primary-0: #277455;  /* Main Primary color */
@color-primary-1: #74AE96;
@color-primary-2: #489173;
@color-primary-3: #0E573A;
@color-primary-4: #003A23;

@color-secondary-1-0: #265B6A;  /* Main Secondary color (1) */
@color-secondary-1-1: #6C939F;
@color-secondary-1-2: #447684;
@color-secondary-1-3: #0F414F;
@color-secondary-1-4: #022A35;

@color-secondary-2-0: #408E2F;  /* Main Secondary color (2) */
@color-secondary-2-1: #9AD58E;
@color-secondary-2-2: #68B159;
@color-secondary-2-3: #216A12;
@color-secondary-2-4: #0C4700;

/* Variables */

@menuFontSize:14px;
@borderRadius:4px;
