/* Palette */

@green1:#74ae96;
@green2:#489173;
@green3:#0e573a;
@green4:#003a23;

@green0:lighten(@green1, 10%);

@yellowgreen1:#9ad58e;
@yellowgreen2:#68b159;
@yellowgreen3:#216a12;
@yellowgreen4:#0c4700;

@yellowgreen0:lighten(@yellowgreen1, 10%);

/* Variables */

@menuFontSize:14px;
@borderRadius:4px;
