@import "../Skins/variables.less";

/* Base menu styles */

// reset list styles
ul.megamenu, ul.megamenusubcontent
{
    padding:0;
    margin:0;
    list-style:none;
    list-style-type:none;

    li
    {
        padding:0;
        margin:0;
        list-style:none;
        list-style-type:none;
    }
}

// reset row class used by Bootstrap!
ul.megamenu .row { margin:0; } 

ul.megamenu *
{
    font-size:@menuFontSize;
}
     
// submenu (popup)
ul.megamenu .sub
{
    display:none;
    position:absolute;
    z-index:1000;

    li { display:block; }
}

ul.megamenu
{ 
    .current, li a:hover, .megahover  { text-decoration:none; }
}

// make headers look more like common text
ul.megamenu li.subheader h2 
{ 
    font-size:@menuFontSize;
    margin:0;
    padding:0; 
}

/* Shared menu styles */

// place submenu relative to menu wrappers
.skin-primary-menu, .skin-secondary-menu, .skin-local-menu { position:relative; }

.skin-primary-menu, .skin-secondary-menu, .skin-local-menu
{
    ul.megamenu 
    {
        ul.megamenusubcontent
        {
            padding-left:8px;
        }

        .sub
        {
            border-top:4px solid;
            padding-bottom:10px;
            li 
            { 
                display:block; 
                padding-right:5px;
                padding-left:5px;
                min-height:24px;
                padding-top:4px; // for vertical align
            }

            li.subheader { border-top:1px solid; }
        }
    }
}

.skin-primary-menu, .skin-secondary-menu
{
    ul.megamenu 
    {
        li.level0 { display:inline; } // for horizontal menus

        .sub 
        { 
            // fill all menu wrapper width
            width:100%!important; 

            // don't overline first menu items
            .row ul.megamenusubcontent:first-child li.subheader:first-child { border-top:none; }
        
            // stack menu blocks horizontally
            &> .row 
            { 
                float:left; 
                margin-right:8px; 
                width:33%;
            }

            li.sublink { padding-left:15px; }
        }
    }
}

/* Development borders */

/*
ul.megamenusubcontent { border:1px solid green; }

ul.megamenu .row { border:1px solid yellow; }

ul.megamenu .sub 
{ 
    background-color:#ccc; 
    li { border:1px solid red; }
}*/

/* Primary menu styles */

.skin-primary-menu
{
    // background-color:@color-primary-4;

    ul.megamenu
    {
        padding-top:3px; // fix li.level0 overflow
        padding-bottom:3px;

        li.level0
        {
            padding:5px;
            margin-right:5px;
        
            a { color:#fff; }

            &.current, &:hover, &.megahover  
            { 
                background-color:@color-complement-2;
            }
        }
        .sub
        {
            top:26px!important; 
            border-color:@color-complement-2;
            background-color:@color-primary-2;
            border-bottom-left-radius:@borderRadius;
            border-bottom-right-radius:@borderRadius;
            box-shadow:2px 2px 2px @color-primary-4;

            li 
            {
                &.current, &:hover, &.megahover  
                { 
                    background-color:@color-primary-1;
                }
            }

            li.subheader { border-color:darken(@color-primary-2, 5%); }
        }
    }
}

/* Secondary menu styles */

.skin-secondary-menu
{
    // menu positioning fixes
    margin-top:1px;

    ul.megamenu
    {
        .current, li a:hover, .megahover  
        { 
            color:#fff;
        }  

        li.level0
        {
            padding:5px;
            padding-bottom:7px; // rounded border will be covered with sub
            background-color:@color-secondary-1-2;
            border-bottom-right-radius:@borderRadius;
            border-bottom-left-radius:@borderRadius;
         
            a { color:#fff; }

            &.current, &:hover, &.megahover  
            { 
                background-color:@color-secondary-2-2;
            }
        }

        .sub
        {
            top:23px!important;
            border-color:@color-secondary-2-2;
            background-color:@color-secondary-1-2;
            border-bottom-left-radius:@borderRadius;
            border-bottom-right-radius:@borderRadius;
            box-shadow:2px 2px 2px @color-secondary-1-4;

            li 
            {
                &.current, &:hover, &.megahover  
                {
                    background-color:@color-secondary-1-1;
                }
            }
            li.subheader { border-color:darken(@color-secondary-1-2, 5%); }
        }
    }
}

/* Local menu styles */

.skin-local-menu 
{
    display:inline-block; 

    ul.megamenu 
    { 
        display:block;
        background-color:transparent;

        a.level0 
        { 
            display:inline-block;
            margin-right:5px;
            margin-bottom:2px;

            color:transparent; // hide page title

            vertical-align:bottom;

            // menu button look
            border:none;
            border-radius:4px;
            background-color:@color-secondary-1-2;
            padding:4px 10px;

            &:hover { background-color:@color-secondary-2-2; }

            .icon-bar 
            { 
                display:block;
                background-color:#fff;
                width:22px;
                height:2px;
                border-radius:1px;
                margin:4px 0;
            }
        }

        li.level0 > .sub
        {
            top:40px!important;
            width:320px!important; // couldn't override inline 450px twice!
        }
    }
}


/* Menus for extra small devices */ 
 
@media only screen and (max-width : 767px) 
{
    .skin-primary-menu, .skin-secondary-menu 
    {   
        width:100%;
        position:relative;
        display:block;
    }

    .skin-local-menu 
    { 
        li.level0 > .sub { width:100%!important; }
    }

    .skin-secondary-menu ul.megamenu 
    {   
       background-color:#555;
    }

    .skin-primary-menu ul.megamenu 
    {   
        width:100%;
        background-color:#ccc;
    }

    .skin-secondary-menu ul.megamenu 
    {   
        width:100%;
        background-color:#555;
    }

    ul.megamenu li, ul.megamenu li a 
    {
        float:none;
        display:block;
    }
}

