ul.megamenu 
{	
	margin: 0; padding: 0;
	float:left;
	width: 100%;
	list-style: none;
    position:relative;
}

ul.megamenu, ul.megamenu li { list-style-type:none; }

ul.megamenu li 
{
	float: left;
	margin: 0; padding: 0;
	/* position: relative;*/
}
    
ul.megamenu ul
{
    padding:0;margin:0;
}

ul.megamenu li a 
{
	float: left; 
	text-decoration:none;
}

ul.megamenu li .sub 
{
    position: absolute;
    left: 0;
    float: left;
	display: none;
    z-index:1000;
}

ul.megamenu li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}

ul.megamenu li .sub ul 
{
	list-style: none;
	margin: 0; padding: 0;
	width: 150px;
	float: left;
}

ul.megamenu .sub ul li 
{
	width: 100%;
}

ul.megamenu .sub ul li h2 
{
	padding: 0;  margin: 0;
	font-size: 11px;
	font-weight: normal;
}
ul.megamenu .sub ul li h2 a 
{
	padding:0;
	margin:0;
}

ul.megamenu .sub ul li a 
{
	float: none; 
	text-indent: 0; /*--Reset text indent--*/
	display: block;
	text-decoration: none;
	color: #fff;
	padding:0;
	margin:0;
}

/* --Modify for styling --*/
ul.megamenu 
{
	/* background-color:#aaa; */
}

ul.megamenu a 
{
	color:#000;
    /*font-weight:bold;*/
}

ul.megamenu a 
{
	padding:4px;
}

/*ul.megamenu li a.level0:hover, .megahover, ul.megamenu .current {background-color:#2D4A74; }*/

ul.megamenu li a.level0:hover, .megahover, ul.megamenu .current { font-weight:bold }

div.sub 
{
    padding:8px;
    /*-webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;*/
 }

 dib.sub ul 
 {
    margin-left:8px;
 }

#megamenu li.subheader {}
#megamenu li.sublink { margin-bottom:6px; }
#megamenu li.subheader h2 { margin-bottom:8px; }

ul.megamenu li .sub 
{
	background: #2D4A74;
}

ul.megamenu .sub ul li h2 a 
{
	color: #e8e000;
}

.skin-secondary-menu ul.megamenu a 
{
    color:#222;
}

.skin-primary-menu, .skin-secondary-menu
{
    ul.megamenu li > .sub 
    {
        width:100%!important; 
    }
}

.skin-local-menu 
{
    display:inline-block; 

    ul.megamenu 
    { 
        display:block;
        position:static;
        background-color:transparent;

        a.level0 
        { 
            color:transparent; // hide page title
            font-size:14px;
            vertical-align:baseline;
            background-color:#F8F8F8;
            border:1px solid #ddd;
            border-radius:4px;
            padding:2px 10px;
            margin-right:0.5em;

            .icon-bar 
            { 
                display:block;
                background-color:#888;
                width:22px;
                height:2px;
                border-radius:1px;
                margin:4px 0;
            }
        }

        li.level0 > .sub
        {
            position:absolute;
            top:40px!important;
            // width:320px!important; // couldn't override inline 450px twice!
        }
    }
}


/* Menus for extra small devices */ 
@media only screen and (max-width : 767px) 
{
    .skin-primary-menu, .skin-secondary-menu 
    {   
        width:100%;
        position:relative;
        display:block;
    }

    .skin-local-menu 
    { 
        li.level0 > .sub { width:100%!important; }
    }

    .skin-secondary-menu ul.megamenu 
    {   
       background-color:#555;
    }

    .skin-primary-menu ul.megamenu 
    {   
        width:100%;
        background-color:#ccc;
    }

    .skin-secondary-menu ul.megamenu 
    {   
        width:100%;
        background-color:#555;
    }

    ul.megamenu li, ul.megamenu li a 
    {
        float:none;
        display:block;
    }
}