/* Base menu styles */

// reset list styles
ul.megamenu, ul.megamenusubcontent
{
    padding:0;
    margin:0;
    list-style:none;
    list-style-type:none;

    li
    {
        padding:0;
        margin:0;
        list-style:none;
        list-style-type:none;
    }
}

// reset row class used by Bootstrap!
ul.megamenu .row { margin:0; } 

ul.megamenu *
{
    font-size:@menuFontSize;
}
     
// submenu (popup)
ul.megamenu .sub
{
    display:none;
    position:absolute;
    z-index:1000;

    li { display:block; }
}

ul.megamenu
{ 
    .current, li a:hover, .megahover  { text-decoration:none; }
}

// make headers look more like common text
ul.megamenu li.subheader h2 
{ 
    font-size:@menuFontSize;
    margin:0;
    padding:0; 
}

/* Shared menu styles */

.skin-primary-menu, .skin-secondary-menu, .skin-local-menu
{
    // place submenu relative to menu wrappers
    position:relative;

    ul.megamenu 
    {
        ul.megamenusubcontent { padding-left:8px; }

        li a { color:#fff; }

        .sub
        {
            border-top:4px solid;
            padding-bottom:10px;
            li 
            { 
                display:block; 
                padding-right:5px;
                padding-left:5px;
                min-height:24px;
                padding-top:4px; // for vertical align

                &.subheader { border-top:1px solid; }
                &.sublink { padding-left:15px; }    
            }
        }
    }
}

/* Shared horizontal menu styles */

.skin-primary-menu, .skin-secondary-menu
{
    ul.megamenu 
    {
        li.level0 
        { 
            display:inline-block; // for horizontal menus
            padding:5px;
        }

        .sub 
        { 
            position:absolute;
            top:26px!important;
            left:0;

            // fill all menu wrapper width
            width:100%!important; 

            // stack menu blocks horizontally
            &> .row 
            { 
                float:left; 
                padding-right:8px; 
                padding-left:4px;
                width:33%;
            }

            // don't overline first menu items
            .row ul.megamenusubcontent:first-child li.subheader:first-child { border-top:none; }
        }
    }
}

/* Development borders */

/*
ul.megamenusubcontent { border:1px solid green; }

ul.megamenu .row { border:1px solid yellow; }

ul.megamenu .sub 
{ 
    background-color:#ccc; 
    li { border:1px solid red; }
}*/

/* Primary menu styles */

.skin-primary-menu
{
    ul.megamenu
    {
        li.level0
        {
            &.current { background-color:@color-primary-3; }
            &:hover, &.megahover { background-color:@color-complement-2; }
        }
        .sub
        {
            border-color:@color-complement-2;
            background-color:@color-primary-2;
            border-bottom-left-radius:@borderRadius;
            border-bottom-right-radius:@borderRadius;
            box-shadow:2px 2px 2px @color-primary-4;

            li 
            {
                &.current, &:hover, &.megahover  
                { 
                    background-color:@color-primary-1;
                }
            }

            li.subheader { border-color:darken(@color-primary-2, 5%); }
        }
    }
}

/* Secondary menu styles */

.skin-secondary-menu
{
    ul.megamenu
    {
        .current, li a:hover, .megahover { color:#fff; }

        li.level0
        {
            background-color:@color-secondary-1-2;
            border-bottom-right-radius:@borderRadius;
            border-bottom-left-radius:@borderRadius;
         
            &.current { background-color:@color-secondary-1-3; }
            &:hover, &.megahover { background-color:@color-secondary-2-2; }
        }

        .sub
        {
            border-color:@color-secondary-2-2;
            background-color:@color-secondary-1-2;
            border-bottom-left-radius:@borderRadius;
            border-bottom-right-radius:@borderRadius;
            box-shadow:2px 2px 2px @color-secondary-1-4;

            li 
            {
                &.current, &:hover, &.megahover  
                {
                    background-color:@color-secondary-1-1;
                }
            }
            li.subheader { border-color:darken(@color-secondary-1-2, 5%); }
        }
    }
}

/* Local menu styles */

.skin-local-menu 
{
    display:inline-block; 

    ul.megamenu 
    { 
        display:block;
        background-color:transparent;

        a.level0 
        { 
            display:inline-block;
            margin-right:5px;
            margin-bottom:2px;

            color:transparent; // hide page title

            vertical-align:bottom;

            // menu button look
            border:none;
            border-radius:4px;
            background-color:@color-secondary-1-2;
            padding:4px 10px;

            &:hover, &.megahover
            { 
                background-color:@color-secondary-2-2; 
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
            }

            .icon-bar 
            { 
                display:block;
                background-color:#fff;
                width:22px;
                height:2px;
                border-radius:1px;
                margin:4px 0;
            }
        }

        li.level0 > .sub
        {
            top:30px!important;
            width:320px!important;

            border-color:@color-secondary-2-2;
            background-color:@color-secondary-1-2;
            border-bottom-left-radius:@borderRadius;
            border-bottom-right-radius:@borderRadius;
            box-shadow:2px 2px 2px @color-secondary-1-4;

            li 
            {
                &.current, &:hover, &.megahover  
                {
                    background-color:@color-secondary-1-1;
                }
            }

            li.subheader { border-color:darken(@color-secondary-1-2, 5%); }

            // don't overline first menu items
            .row:first-child ul.megamenusubcontent:first-child li.subheader:first-child { border-top:none; }
        }
    }
}


/* Menus for extra small devices */ 

@media only screen and (max-width : 767px) 
{
    // local menu do not [possibly] reqiure styling for xs screens

    .skin-primary-menu, .skin-secondary-menu
    {
        ul.megamenu 
        {   
            li.level0
            {
                float:none;
                display:block;

                // place submenus relative to menu items
                position:relative; 
            }

            .sub
            {
                position:absolute;
                top:0!important;
                right:0;
                left:inherit; // reset non-xs position
                max-width:240px;
                border-top:none;
                border-left:4px solid;
                border-bottom:4px solid;
                border-bottom-right-radius:0;
                box-shadow:none;

                // stack menu blocks vertically
                &> .row 
                { 
                    float:none; 
                    display:block;
                    width:100%;
                }
            }
        }
    }

    .skin-primary-menu
    {
        ul.megamenu 
        { 
            background-color:@color-primary-2; 
            .sub { border-color:@color-complement-2; }
        }
    }

    .skin-secondary-menu
    {
        margin-top:0;

        ul.megamenu 
        {
            // disable rounded borders
            li.level0 { border-radius:0; }

            background-color:@color-secondary-1-2;
            .sub { border-color:@color-secondary-2-2; }
        }
    }
}
